@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* ความสูง scrollbar */
  height: 8px; /* ความสูง scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #505050; 
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #818181; 
}